@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", sans-serif;

}

input {
    @apply focus:outline-teal-600 border-2 rounded border-gray-200 p-2 my-2 w-full;
}

h2 {
  @apply text-2xl;
}

form {
  @apply flex flex-col gap-4;
}

.main-content {
  max-width: 60dvw;
  margin: auto;
  @apply p-24 flex flex-col gap-8;
}